<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
          <a class="navbar-brand " href="#" id="welcome" style="margin-left:-8%;"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <input type="text" size="50" >
        <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i> Search
            </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="cart.html"><i class="fas fa-cart-plus"></i><span class="sr-only">(current)</span>MyCart</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="order.html">MyOrders</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Logout</a>
        </li>
        <li class="nav-item active">
              <a class="nav-link" href="clear.html">ClearData</a>
        </li>
          
      </ul>
      
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('http://campuspreneur.live/images/slider1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Beautiful</h3>
          <p>We have hundreds of awesome products.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://campuspreneur.live/images/slider2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Royal Stuff</h3>
          <p>Our Aim is to provide you #TheMAN products.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://campuspreneur.live/images/slider3.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Sale</h3>
          <p>Hugh Discounts on products we provide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<div class="clearfix"></div>
                  <br><br>
                  
                        <button class="btn btn-primary" style="width:30%">HOT Deals</button><br><br><br>
                  
                  
        <div class="row text-center w3-container">
            <div class="col-lg-3 ">
                <img class="rounded-circle" src="http://campuspreneur.live/images/p5.jpeg" alt="Generic placeholder image" width="300" height="170">
                <h2 id="nid1">Product 1</h2>
                <h2 id="pr1">200</h2>
                <input type="number" min="0"id="qty1" placeholder="Qty..."><br><br>
                <p><button class="btn btn-primary left" href="#" onclick="BuyProduct('1')" role="button">« Buy Product »</button>
                <button class="btn btn-warning right" href="#"   onclick="addCart('1')" role="button">« Add To Cart »</button>
                </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-3">
                <img class="rounded-circle" src="http://campuspreneur.live/images/p6.jpeg" alt="Generic placeholder image" width="300" height="170">
                <h2 id="nid2">Product 2</h2>
                <h2 id="pr2">300</h2>
                <input type="number" min="0"id="qty2" placeholder="Qty..."><br><br>
                <p><button class="btn btn-primary left"  onclick="BuyProduct('2')" role="button">« Buy Product »</button>
                <button class="btn btn-warning right"  onclick="addCart('2')" role="button">« Add To Cart »</button>
                </p>
        </div>
              <div class="col-lg-3">
                    <img class="rounded-circle" src="http://campuspreneur.live/images/p7.jpeg" alt="Generic placeholder image" width="300" height="170">
                    <h2 id="nid3">Product 3</h2>
                    <h2 id="pr3">250</h2>
                    <input type="number" min="0" id="qty3" placeholder="Qty..."><br><br>
                    <p><button class="btn btn-primary left"  onclick="BuyProduct('3')" role="button">« Buy Product »</button>
                    <button class="btn btn-warning right"   onclick="addCart('3')" role="button">« Add To Cart »</button>
                    </p>
                </div>
              <div class="col-lg-3">
                        <img class="rounded-circle" src="http://campuspreneur.live/images/p8.jpeg" alt="Generic placeholder image" width="300" height="170">
                        <h2 id="nid4">Product 4</h2>
                        <h2 id="pr4">500</h2>
                        <input type="number" min="0"id="qty4" placeholder="Qty..."><br><br>
                        <p><button class="btn btn-primary left"  onclick="BuyProduct('4')" role="button">« Buy Product »</button>
                        <button class="btn btn-warning right"    onclick="addCart('4')" role="button">« Add To Cart »</button>
                        </p>
                        <!-- /.col-lg-4 -->
              </div>


      </div>
<!--- footer --><br><br>
<br><br>

      <button class="btn btn-primary" style="width:30%">New Arrivals</button><br><br><br>

<div class="row text-center w3-container">
        <div class="col-lg-3 ">
          <img class="rounded-circle" src="http://campuspreneur.live/images/p1.jpeg" alt="Generic placeholder image" width="300" height="170">
          <h2>Product A</h2>
          <h2>200</h2>
          <input type="numbere" min="0" placeholder="Qty..."><br><br>
           <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
            <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
        </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
                <img class="rounded-circle" src="http://campuspreneur.live/images/p2.jpeg" alt="Generic placeholder image" width="300" height="170">
                <h2>Product B</h2>
          <h2>400</h2>
          <input type="numbere" min="0" placeholder="Qty..."><br><br>
           <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
            <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
        </p>
        </div>
              <div class="col-lg-3">
                    <img class="rounded-circle" src="http://campuspreneur.live/images/p3.jpeg" alt="Generic placeholder image" width="300" height="170">
                    <h2>Product C</h2>
                    <h2>180</h2>
                    <input type="numbere" min="0" placeholder="Qty..."><br><br>
                     <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                      <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                  </p>
                  </div>
            <div class="col-lg-3">
                        <img class="rounded-circle" src="http://campuspreneur.live/images/p4.jpeg" alt="Generic placeholder image" width="300" height="170">
                        <h2>Product D</h2>
                        <h2>200</h2>
                        <input type="numbere" min="0" placeholder="Qty..."><br><br>
                         <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                          <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                      </p><!-- /.col-lg-4 -->
                      </div>


      </div>
      <br><br>
            <button class="btn btn-primary" style="width:30%">Products on sale</button><br><br><br>
      <div class="row text-center"><div class="col-lg-3 ">
            <img class="rounded-circle" src="http://campuspreneur.live/images/p1.jpeg" alt="Generic placeholder image" width="300" height="170">
            <h2>Product A</h2>
            <h2>200</h2>
            <input type="numbere" min="0" placeholder="Qty..."><br><br>
             <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
              <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
          </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
                  <img class="rounded-circle" src="http://campuspreneur.live/images/p2.jpeg" alt="Generic placeholder image" width="300" height="170">
                  <h2>Product B</h2>
            <h2>400</h2>
            <input type="numbere" min="0" placeholder="Qty..."><br><br>
             <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
              <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
          </p>
          </div>
                <div class="col-lg-3">
                      <img class="rounded-circle" src="http://campuspreneur.live/images/p3.jpeg" alt="Generic placeholder image" width="300" height="170">
                      <h2>Product C</h2>
                      <h2>180</h2>
                      <input type="numbere" min="0" placeholder="Qty..."><br><br>
                       <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                        <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                    </p>
                    </div>
              <div class="col-lg-3">
                          <img class="rounded-circle" src="http://campuspreneur.live/images/p4.jpeg" alt="Generic placeholder image" width="300" height="170">
                          <h2>Product D</h2>
                          <h2>200</h2>
                          <input type="numbere" min="0" placeholder="Qty..."><br><br>
                           <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                            <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                        </p><!-- /.col-lg-4 -->
                        </div>
  
  
        </div>
          <br><br>
                <button class="btn btn-primary" style="width:30%">Top Trending</button><br><br><br>
          
          <div class="row text-center"><div class="col-lg-3 ">
                <img class="rounded-circle" src="http://campuspreneur.live/images/p1.jpeg" alt="Generic placeholder image" width="300" height="170">
                <h2>Product A</h2>
                <h2>200</h2>
                <input type="numbere" min="0" placeholder="Qty..."><br><br>
                 <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                  <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
              </p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-3">
                      <img class="rounded-circle" src="http://campuspreneur.live/images/p2.jpeg" alt="Generic placeholder image" width="300" height="170">
                      <h2>Product B</h2>
                <h2>400</h2>
                <input type="numbere" min="0" placeholder="Qty..."><br><br>
                 <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                  <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
              </p>
              </div>
                    <div class="col-lg-3">
                          <img class="rounded-circle" src="http://campuspreneur.live/images/p3.jpeg" alt="Generic placeholder image" width="300" height="170">
                          <h2>Product C</h2>
                          <h2>180</h2>
                          <input type="numbere" min="0" placeholder="Qty..."><br><br>
                           <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                            <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                        </p>
                        </div>
                  <div class="col-lg-3">
                              <img class="rounded-circle" src="http://campuspreneur.live/images/p4.jpeg" alt="Generic placeholder image" width="300" height="170">
                              <h2>Product D</h2>
                              <h2>200</h2>
                              <input type="numbere" min="0" placeholder="Qty..."><br><br>
                               <p><a class="btn btn-primary left" href="#" role="button">« Buy Product »</a>
                                <a class="btn btn-warning right" href="#" role="button">« Add To Cart »</a>
                            </p><!-- /.col-lg-4 -->
                            </div>
      
      
            </div>